
@{
    ViewData["Title"] = "Operations";
 }

<h1>Life Cycle</h1>

</br>
</br>

<div>
    <div>
        <h3>Controller Operations</h3>
        <div>
            <p>Singleton -> @ViewData["Singleton"]</p>
            <p>Scoped -> @ViewData["Scoped"]</p>
            <p>Trascient -> @ViewData["Transient"]</p>
        </div>
    </div>


    </br>
    </br>

    <div>
        <h4>Services Operations</h4>
        <div>
            <p>Singleton -> @ViewData["ServiceSingleton"]</p>
            <p>Scoped -> @ViewData["ServiceScoped"]</p>
            <p>Trascient -> @ViewData["ServiceTransient"]</p>
        </div>
    </div>
</div>